{% extends "base.html" %}
{% block content %}

<h1 class="hero is-link is-medium">
	<div class="hero-body has-background-grey-dark">
		<div class="container has-text-centered">
			<h1 class="title is-size-1 has-text-warning" style="font-family: Abel;">
				Hey,
			</h1>
			<h1 class="subtitle is-size-1 has-text-warning" style="font-family: Abel; font-weight:800;">
                I'm {{ config.extra.author }}.
			</h1>
			<h3 class="subtitle is-size-3 has-text-warning" style="font-family: Abel; font-weight:100;">
				I'm a {{ config.extra.about }}.
			</h3>
			<button class="button is-dark has-text-warning is-rounded" style="font-family: Abel; font-size: larger;"
			onclick="window.location.href='/projects'">Personal Projects</button>
		</div>
	</div>
</h1>

<div class="container has-text-white" style="margin-top: 3em;">
	<h3 class="subtitle is-size-4 has-text-white" style="font-family: Abel; margin-left: 2em; margin-right: 2em;">
		Electronics engineer with experience in software, electronics and mechanical design.
		<br>
		Graduated from Tel-Aviv University with a B.Sc in Electrical and Electronics Engineering.
		<br>
		<br>
		I enjoy breaking things and <i>(sometimes)</i> putting them back together.
	</h3>
</div>

{% endblock content %}
