{% extends "base.html" %}
{% block content %}


{% for index in section.pages %}
	{% if loop.index % 2 == 1 %}
		<div class="columns">
	{% endif %}
		<div class="column is-6">
			<div class="card" style="background: #2C5364; margin-left: 1rem; margin-right: 1rem; border-radius: 0.5em;">
				<div class="card-image" style="margin-left: 2em; margin-right: 2em;">
					<br>
					<div class="columns is-centered is-vcentered has-text-centered">
						<figure class="image">
              				{% if index.extra.image is defined %}
                			<img src="{{index.extra.image}}" alt="project logo">
			  				{% else %}

              				{% endif %}
						</figure>
					</div>
				</div>
				<div class="card-content" style="background: #2C5364;">
					<div class="content" style="font-family: Abel;">
						<h3><a href="{{index.extra.link}}" class="has-text-warning" style="font-family: Abel; margin-top: 10rem;"> {{ index.title }} </a></h3>
						<span class="has-text-white" style="font-family: Abel; font-size: large;">
							<p> {{ index.content | safe }} </p>
						</span>
						<div class="columns">
							{% for tech in index.extra.technologies %}
							<span class="tag" 
							style="margin: 4px; font-family: Abel; font-weight: 900; font-size: medium; background: #56b2da;"> {{ tech }} </span>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if loop.index % 2 == 0 %}
		</div>
		{% endif %}
		{% if loop.last %}
		{% if loop.index % 2 == 1 %}
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}

		{% endblock content%}
