{% extends "base.html" %}
{% block content %}

<section class="hero is-link is-small">
	<div class="hero-body has-background-grey-dark">
		<div class="container has-text-centered">
			<h1 class="title has-text-warning">
				{{ section.title }}
			</h1>
		</div>
	</div>
</section>
<br><br>

{% for index in section.pages %}
	{% if loop.index % 2 == 1 %}
		<div class="columns">
	{% endif %}
		<div class="column is-6">
			<div class="card has-background-dark">
				<div class="card-image">
					<br>
					<div class="columns is-centered is-vcentered has-text-centered">
						<figure class="image">
              {% if index.extra.image is defined %}
                <img src="{{index.extra.image}}" style="margin: 4px" alt="project logo">
			  {% else %}

              {% endif %}
						</figure>
					</div>
				</div>
				<div class="card-content has-background-grey-dark">
					<div class="content">
						<h3><a href="{{index.extra.link}}" class="has-text-warning"> {{ index.title }} </a></h3>
						<span class="has-text-white" style="margin: 2px">
							<p> {{ index.content | safe }} </p>
						</span>
						<div class="columns">
							{% for tech in index.extra.technologies %}
							<span class="tag is-warning" style="margin: 4px"> {{ tech }} </span>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if loop.index % 2 == 0 %}
		</div>
		{% endif %}
		{% if loop.last %}
		{% if loop.index % 2 == 1 %}
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}

		{% endblock content%}
